body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    background-color: black;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    ". heading heading heading swirl swirl"
    "sleeveRoll sleeveRoll bioTitle . swirl swirl"
    "sleeveRoll sleeveRoll bio bio swirl swirl"
    "sleeveRoll sleeveRoll bio bio swirl swirl"
    "sleeveRoll sleeveRoll linkedIn linkedIn swirl swirl"
    "sleeveRoll sleeveRoll . . swirl swirl"
    "sleeveRoll sleeveRoll . . swirl swirl"
    ". . . . . ."
    ". projectsHead projectsHead . . ."
    ". p1title . p2title . ."
    ". p1image p1tech p2image p2tech ."
    ". p1text p1text p2text p2text ."
    ". p3title . p4title . ."
    ". p3image p3tech p4image p4tech ."
    ". p3text p3text p4text p4text ."
    ". contact contact . . ."
    ". details details form form form"
    ". details details form form form"
    ". details details form form form";
    justify-content: stretch;
}

#swirl {
    max-width: 100%;
    grid-area: swirl;
}

h1 {
    grid-area: heading;
}

#sleeveRoll {
    grid-area: sleeveRoll;
    max-width: 100%;
    padding-right: 10px;
}

#bioTitle {
    grid-area: bioTitle;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 500ms;
}

#bioTitle:hover{
    text-decoration-color: rgb(255, 255, 255);

}

#bio {
    grid-area: bio;
}

#linkedInImage {
    padding-top: 10%;
    max-width: 10rem;
    /* display: flex; */
}

#linkedIn {
    grid-area: linkedIn;
}

#projects {
    grid-area: projects;
}

#projectsHead {
    grid-area: projectsHead;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 500ms;
}

#projectsHead:hover{
    text-decoration-color: rgb(255, 255, 255);
}

#p1title {
    grid-area: p1title;
}

#p1image {
    grid-area: p1image;
}

#p1text {
    grid-area: p1text;
}

#p1tech {
    grid-area: p1tech;
}

#p2title {
    grid-area: p2title;
}

#p2image {
    grid-area: p2image;
}

#p2text {
    grid-area: p2text;
}

#p2tech {
    grid-area: p2tech;
}

#p3title {
    grid-area: p3title;
}

#p3image {
    grid-area: p3image;
}

#p3text {
    grid-area: p3text;
}

#p3tech {
    grid-area: p3tech;
}

#p4title {
    grid-area: p4title;
}

#p4image {
    grid-area: p4image;
}

#p4text {
    grid-area: p4text;
}

#p4tech {
    grid-area: p4tech;
}

#contact {
    grid-area: contact;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 500ms;
}

#contact:hover {
    text-decoration-color: rgb(255, 255, 255);
}

#details {
    grid-area: details;
}

#form {
    grid-area: form;
}

img {
    max-width: 75%;
}

input {
    display: flex;
}